<?xml version="1.0" encoding="UTF-8"?>

<casos_ml>

    <caso>

        <titulo>
            Machine Learning en Smartphones
        </titulo>



        <descripcion>
            El Machine Learning impulsa muchas funciones en los smartphones modernos.
            Los algoritmos permiten el reconocimiento facial utilizado para desbloquear
            dispositivos y mejorar la seguridad. También hacen posible el funcionamiento
            de asistentes de voz como Siri, Alexa, Google Assistant y Cortana, que
            utilizan procesamiento de lenguaje natural para entender lo que decimos
            y responder de forma inteligente. Además, el Machine Learning mejora las
            cámaras de los teléfonos analizando imágenes, detectando objetos o rostros
            y optimizando automáticamente la calidad de las fotografías.
        </descripcion>

        <imagen>
            https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS01hkTtQ9oqvTf35YzVdG2qgQSWQ9MhLrRBw
        </imagen>

    </caso>

</casos_ml>